<!DOCTYPE html>
<html lang="en">

<%- include('layout/header') -%>

<body>

  <%- include('layout/navbar') -%>

  <%- include('layout/ad_carousel') -%>

  <!-- Movie Select Box - Start Here -->
  <div class="container bg-info text-center my-3 py-3 rounded" id="booking-block">
    <div class="form-row">
      <div class="form-group col-sm-3">
        <select class="form-control" id="movieSelection">
          <option selected>-- Chọn Phim</option>
        </select>
      </div>
      <div class="form-group col-sm-3">
        <select class="form-control" id="cinemaSelection">
          <option selected>-- Chọn Rạp</option>
        </select>
      </div>
      <div class="form-group col-sm-3">
        <select class="form-control" id="showDateSelection">
          <option selected>-- Chọn Ngày</option>
        </select>
      </div>
      <div class="form-group col-sm-3">
        <select class="form-control" id="showTimeSelection">
          <option selected>-- Chọn Suất</option>
        </select>
      </div>
      <button class="btn btn-warning btn-block w-50 mx-auto" type="submit">ĐẶT VÉ</button>
    </div>
  </div>
  <!-- Movie Select Box - End Here -->

  <!-- Movie Section - Start Here -->
  <div class="container text-center my-5"  id="movie-block">
    <ul class="nav nav-pills">
      <li class="nav-item"><a class="nav-link active" data-toggle="pill" href=#showing>PHIM ĐANG CHIẾU</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#upcoming">PHIM SẮP CHIẾU</a></li>
    </ul>
    <div class="tab-content">
      <div id="showing" class="tab-pane fade in active show">
        <div class="row">
        </div>
        <a href="/movie" class="d-inline-block btn btn-info">Xem thêm</a>
      </div>
      <div id="upcoming" class="tab-pane fade">
        <div class="row">
        </div>
        <a href="/movie" class="d-inline-block btn btn-info">Xem thêm</a>
      </div>
    </div>
  </div>
  <!-- Movie Section - End Here -->

  <!-- News Section - Start Here -->
  <div class="container text-center my-5" id="news-block">
    <ul class="nav nav-pills">
      <li class="nav-item"><a class="nav-link active" data-toggle="pill" href=#review>REVIEW PHIM</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#blog">BLOG PHIM</a></li>
    </ul>
    <div class="tab-content">
      <div id="review" class="tab-pane fade in active show">
        <div class="row">
          <div class="col-sm-4 col-12">
            <img src="https://galaxycine.vn/media/2020/9/7/aqdd4_1599445372823.png" class="img-fluid py-2" alt="Image">
            <h6>Ác Quỷ Đối Đầu: Màn Trình Diễn Đáng Đồng Tiền Bát Gạo</h6>
            <p>Sự phối hợp của hai cái tên lão luyện trong giới điện ảnh Hàn – Hwang Jung Min và Lee Jung Jae đã mang
              đến...</p>
          </div>
          <div class="col-sm-4 col-12">
            <img src="https://galaxycine.vn/media/2020/8/28/f1d2u67yync6u8ag8ptgp4uf9mwxrcnr4pge9klb_1598592515785.jpg"
              class="img-fluid py-2" alt="Image">
            <h6>Tenet: Bom Tấn Giải Cứu Phòng Vé Toàn Cầu</h6>
            <p>Tenet – bộ phim mang theo hy vọng “giải cứu” rạp chiếu phim toàn cầu đã chính thức công chiếu. Và không
              làm...</p>
          </div>
          <div class="col-sm-4 col-12">
            <img
              src="https://galaxycine.vn/media/2020/7/15/wonder-woman-1984-publicity-still-5-h-2019-1_1594801321671.jpg"
              class="img-fluid py-2" alt="Image">
            <h6>Wonder Woman 1984: Bí Ẩn Nào Đằng Sau Sự Trở Về Của Người Tình Wonder Woman?</h6>
            <p>Từ một bộ phim chẳng mấy được kỳ vọng, Wonder Woman trở thành điểm sáng của vũ trụ điện ảnh DC mở
              rộng...</p>
          </div>
        </div>
      </div>
      <div id="blog" class="tab-pane fade">
        <div class="row">
          <div class="col-sm-4 col-12">
            <img src="https://galaxycine.vn/media/2020/9/18/450-vi-sao_1600416715620.jpg" class="img-fluid py-2"
              alt="Image">
            <h6>Vì Sao Đưa Bạn Tới: Đầy Vui Nhộn Và Dễ Thương</h6>
            <p>Vì Sao Đưa Bạn Tới có thể xem là một phim hay, đem đến những phút giây giải trí nhẹ nhàng, đáng yêu và...
            </p>
          </div>
          <div class="col-sm-4 col-12">
            <img src="https://galaxycine.vn/media/2020/9/18/phimviet4_1600414139073.jpg" class="img-fluid py-2"
              alt="Image">
            <h6>Điện Ảnh Việt Mùa Covid: Ảm Đạm Chờ Ngày "Bão Tan"</h6>
            <p>Ảnh hưởng nặng nề của dịch bệnh Corona đã khiến cho nhiều dự án phim Việt phải liên tục dời lịch
              chiếu...</p>
          </div>
          <div class="col-sm-4 col-12">
            <img src="https://galaxycine.vn/media/2020/9/18/daniel-radcliffe_1600405216509.jpg" class="img-fluid py-2"
              alt="Image">
            <h6>Diễn Viên Harry Potter Ngày Ấy Bây Giờ - Part 2: Những Ngôi Sao Trẻ</h6>
            <p>Nổi tiếng từ rất sớm nhờ Harry Potter Saga, những ngôi sao trẻ may mắn ấy giờ ra sao? Họ có giữ nổi...
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- News Section - End Here -->
  <%- include('layout/footer') -%>
  <%- include('layout/script') -%>
  <script src="/javascripts/main.js"></script>
</body>

</html>