<!DOCTYPE html>
<html lang="en">

  <%- include('layout/header') -%>

<body>

  <%- include('layout/navbar') -%>

  <%- include('layout/ad_carousel') -%>

    <h1>ĐÂY LÀ TRANG THÔNG TIN KHÁCH HÀNG: ĐANG XÂY DỰNG</h1>

  <%- include('layout/footer') -%>
  <%- include('layout/script') -%>

</body>

</html>